<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head (title)">
		<title th:text="${title}">Fragments</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
			href="../../css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div th:fragment="navbar" class="navbar">
				<div class="navbar-inner" style="min-height: 70px">
					<a class="brand" style="" href="http://acando.de">
						<img th:src="@{/images/acando.png}"/>
					</a>
					<ul class="nav" style="margin: 15px 50px 0px 0px">
						<li><a th:href="@{/}" href="messages.html"> Messages </a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
